# Python
__pycache__/
*.pyc

# Environment variables
.env
.devcontainer
.vscode

# Temporary files and output
data/src/*
tests/test_images/src/*
tests/test_images/test_output/*

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

